-- ============================================
-- EDUCORE DATABASE - 04 RLS AND PERMISSIONS
-- Seguran├ºa: Pol├¡ticas RLS Otimizadas
-- Data: 15/02/2026
-- ============================================
-- OTIMIZA├ç├òES:
-- - Subconsultas (SELECT ...) para evitar InitPlan
-- - Uma pol├¡tica por a├º├úo usando OR
-- - Sem acesso an├┤nimo (apenas authenticated)
-- - search_path definido em fun├º├Áes auxiliares
-- ============================================

-- --------------------------------------------
-- HABILITAR RLS EM TODAS AS TABELAS
-- --------------------------------------------

ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE students ENABLE ROW LEVEL SECURITY;
ALTER TABLE teachers ENABLE ROW LEVEL SECURITY;
ALTER TABLE class_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE financial_records ENABLE ROW LEVEL SECURITY;
ALTER TABLE financial_record_class_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE activities ENABLE ROW LEVEL SECURITY;
ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE idempotency_keys ENABLE ROW LEVEL SECURITY;
ALTER TABLE performance_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_roles ENABLE ROW LEVEL SECURITY;

-- Habilitar RLS em admin_view_backups se existir (tabela de backup do Supabase)
-- IMPORTANTE: RLS sem pol├¡ticas = apenas service_role pode acessar (intencional)
DO $
BEGIN
  IF EXISTS (
    SELECT FROM pg_tables 
    WHERE schemaname = 'public' 
    AND tablename = 'admin_view_backups'
  ) THEN
    ALTER TABLE public.admin_view_backups ENABLE ROW LEVEL SECURITY;
    
    COMMENT ON TABLE public.admin_view_backups IS 
    'RLS enabled with NO policies (intentional). Only service_role can access. 
    This is a security feature, not a bug. Clients cannot access backup data.';
    
    RAISE NOTICE 'Ô£ô RLS enabled on admin_view_backups (service_role only, no client access)';
  END IF;
END $;

-- --------------------------------------------
-- HABILITAR RLS NAS VIEWS
-- --------------------------------------------

-- Views n├úo precisam de ALTER TABLE, mas precisam de pol├¡ticas
-- As views herdam as permiss├Áes das tabelas base via security_invoker = true

-- --------------------------------------------
-- FUN├ç├òES AUXILIARES PARA RLS
-- --------------------------------------------

CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
  SELECT EXISTS (SELECT 1 FROM profiles WHERE user_id = auth.uid() AND role = 'admin');
$$;

CREATE OR REPLACE FUNCTION public.is_teacher()
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
  SELECT EXISTS (SELECT 1 FROM profiles WHERE user_id = auth.uid() AND role = 'teacher');
$$;

CREATE OR REPLACE FUNCTION public.is_student()
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
  SELECT EXISTS (SELECT 1 FROM profiles WHERE user_id = auth.uid() AND role = 'student');
$$;

CREATE OR REPLACE FUNCTION public.get_student_id()
RETURNS UUID
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
  SELECT student_id FROM profiles WHERE user_id = auth.uid() LIMIT 1;
$$;

CREATE OR REPLACE FUNCTION public.get_teacher_id()
RETURNS UUID
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
  SELECT teacher_id FROM profiles WHERE user_id = auth.uid() LIMIT 1;
$$;

-- --------------------------------------------
-- POL├ìTICAS RLS: profiles
-- --------------------------------------------

CREATE POLICY "profiles_select_policy"
  ON profiles FOR SELECT
  TO authenticated
  USING ((SELECT public.is_admin()) OR user_id = (SELECT auth.uid()));

CREATE POLICY "profiles_insert_policy"
  ON profiles FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT public.is_admin()));

CREATE POLICY "profiles_update_policy"
  ON profiles FOR UPDATE
  TO authenticated
  USING ((SELECT public.is_admin()) OR user_id = (SELECT auth.uid()));

CREATE POLICY "profiles_delete_policy"
  ON profiles FOR DELETE
  TO authenticated
  USING ((SELECT public.is_admin()));

-- --------------------------------------------
-- POL├ìTICAS RLS: students
-- --------------------------------------------

-- Pol├¡ticas antigas (mantidas para compatibilidade)
CREATE POLICY "Admins can view all students"
  ON students FOR SELECT
  TO authenticated
  USING ((SELECT public.is_admin()));

CREATE POLICY "Admins can manage all students"
  ON students FOR ALL
  TO authenticated
  USING ((SELECT public.is_admin()));

CREATE POLICY "Teachers can view their own students"
  ON students FOR SELECT
  TO authenticated
  USING (
    (SELECT public.is_teacher())
    AND teacher_id = (SELECT public.get_teacher_id())
  );

CREATE POLICY "Teachers can manage their own students"
  ON students FOR ALL
  TO authenticated
  USING (
    (SELECT public.is_teacher())
    AND teacher_id = (SELECT public.get_teacher_id())
  );

CREATE POLICY "Students can view their own data"
  ON students FOR SELECT
  TO authenticated
  USING (id = (SELECT public.get_student_id()));

-- --------------------------------------------
-- POL├ìTICAS RLS: teachers
-- --------------------------------------------

CREATE POLICY "teachers_select_policy"
  ON teachers FOR SELECT
  TO authenticated
  USING (
    (SELECT public.is_admin()) 
    OR id = (SELECT public.get_teacher_id())
    OR (
      (SELECT public.is_student())
      AND id IN (
        SELECT teacher_id 
        FROM students 
        WHERE id = (SELECT public.get_student_id())
      )
    )
  );

COMMENT ON POLICY "teachers_select_policy" ON teachers IS 
'Permite: Admin v├¬ tudo, Professor v├¬ seus dados, Aluno v├¬ apenas dados do seu professor (incluindo pix_key para pagamentos)';

CREATE POLICY "teachers_insert_policy"
  ON teachers FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT public.is_admin()));

CREATE POLICY "teachers_update_policy"
  ON teachers FOR UPDATE
  TO authenticated
  USING ((SELECT public.is_admin()) OR id = (SELECT public.get_teacher_id()));

CREATE POLICY "teachers_delete_policy"
  ON teachers FOR DELETE
  TO authenticated
  USING ((SELECT public.is_admin()));

-- --------------------------------------------
-- POL├ìTICAS RLS: class_logs
-- --------------------------------------------

CREATE POLICY "class_logs_select_policy"
  ON class_logs FOR SELECT
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR teacher_id = (SELECT public.get_teacher_id())
    OR student_id = (SELECT public.get_student_id())
  );

CREATE POLICY "class_logs_insert_policy"
  ON class_logs FOR INSERT
  TO authenticated
  WITH CHECK (
    (SELECT public.is_admin()) 
    OR ((SELECT public.is_teacher()) AND teacher_id = (SELECT public.get_teacher_id()))
  );

COMMENT ON POLICY "class_logs_insert_policy" ON class_logs IS 'Admins podem criar qualquer aula. Professores s├│ podem criar aulas para si mesmos.';

CREATE POLICY "class_logs_update_policy"
  ON class_logs FOR UPDATE
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR teacher_id = (SELECT public.get_teacher_id())
  );

CREATE POLICY "class_logs_delete_policy"
  ON class_logs FOR DELETE
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR teacher_id = (SELECT public.get_teacher_id())
  );

-- --------------------------------------------
-- POL├ìTICAS RLS: financial_records
-- --------------------------------------------

CREATE POLICY "financial_records_select_policy"
  ON financial_records FOR SELECT
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR (
      (SELECT public.is_teacher())
      AND EXISTS (
        SELECT 1 FROM class_logs cl
        WHERE cl.student_id = financial_records.student_id
          AND cl.teacher_id = (SELECT public.get_teacher_id())
      )
    )
    OR student_id = (SELECT public.get_student_id())
  );

CREATE POLICY "financial_records_insert_policy"
  ON financial_records FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT public.is_admin()) OR (SELECT public.is_teacher()));

CREATE POLICY "financial_records_update_policy"
  ON financial_records FOR UPDATE
  TO authenticated
  USING ((SELECT public.is_admin()) OR (SELECT public.is_teacher()));

CREATE POLICY "financial_records_delete_policy"
  ON financial_records FOR DELETE
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR (
      (SELECT public.is_teacher())
      AND student_id IN (
        SELECT id FROM students WHERE teacher_id = (SELECT public.get_teacher_id())
      )
    )
  );

COMMENT ON POLICY "financial_records_delete_policy" ON financial_records IS 
'Admins podem deletar qualquer cobran├ºa. Professores podem deletar cobran├ºas dos seus alunos.';

-- --------------------------------------------
-- POL├ìTICAS RLS: financial_record_class_logs
-- --------------------------------------------

CREATE POLICY "financial_record_class_logs_select_policy"
  ON financial_record_class_logs FOR SELECT
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR EXISTS (
      SELECT 1 FROM class_logs cl
      WHERE cl.id = financial_record_class_logs.class_log_id
        AND (
          cl.teacher_id = (SELECT public.get_teacher_id())
          OR cl.student_id = (SELECT public.get_student_id())
        )
    )
  );

CREATE POLICY "financial_record_class_logs_insert_policy"
  ON financial_record_class_logs FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT public.is_admin()) OR (SELECT public.is_teacher()));

CREATE POLICY "financial_record_class_logs_update_policy"
  ON financial_record_class_logs FOR UPDATE
  TO authenticated
  USING ((SELECT public.is_admin()));

CREATE POLICY "financial_record_class_logs_delete_policy"
  ON financial_record_class_logs FOR DELETE
  TO authenticated
  USING ((SELECT public.is_admin()));

-- --------------------------------------------
-- POL├ìTICAS RLS: activities
-- --------------------------------------------

CREATE POLICY "activities_select_policy"
  ON activities FOR SELECT
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR teacher_id = (SELECT public.get_teacher_id())
    OR student_id = (SELECT public.get_student_id())
  );

CREATE POLICY "activities_insert_policy"
  ON activities FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT public.is_admin()) OR (SELECT public.is_teacher()));

CREATE POLICY "activities_update_policy"
  ON activities FOR UPDATE
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR teacher_id = (SELECT public.get_teacher_id())
    OR student_id = (SELECT public.get_student_id())
  );

CREATE POLICY "activities_delete_policy"
  ON activities FOR DELETE
  TO authenticated
  USING (
    (SELECT public.is_admin())
    OR teacher_id = (SELECT public.get_teacher_id())
  );

-- --------------------------------------------
-- POL├ìTICAS RLS: audit_logs
-- --------------------------------------------

CREATE POLICY "audit_logs_select_policy"
  ON audit_logs FOR SELECT
  TO authenticated
  USING ((SELECT public.is_admin()));

CREATE POLICY "audit_logs_insert_policy"
  ON audit_logs FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT auth.uid()) IS NOT NULL);

-- --------------------------------------------
-- POL├ìTICAS RLS: idempotency_keys
-- --------------------------------------------

CREATE POLICY "idempotency_keys_select_policy"
  ON idempotency_keys FOR SELECT
  TO authenticated
  USING (user_id = (SELECT auth.uid()));

CREATE POLICY "idempotency_keys_insert_policy"
  ON idempotency_keys FOR INSERT
  TO authenticated
  WITH CHECK (user_id = (SELECT auth.uid()));

CREATE POLICY "idempotency_keys_update_policy"
  ON idempotency_keys FOR UPDATE
  TO authenticated
  USING (user_id = (SELECT auth.uid()));

-- --------------------------------------------
-- POL├ìTICAS RLS: performance_logs
-- --------------------------------------------

CREATE POLICY "performance_logs_select_policy"
  ON performance_logs FOR SELECT
  TO authenticated
  USING ((SELECT public.is_admin()));

CREATE POLICY "performance_logs_insert_policy"
  ON performance_logs FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT auth.uid()) IS NOT NULL);

-- --------------------------------------------
-- POL├ìTICAS RLS: user_roles
-- --------------------------------------------

CREATE POLICY "user_roles_select_policy"
  ON user_roles FOR SELECT
  TO authenticated
  USING ((SELECT public.is_admin()) OR user_id = (SELECT auth.uid()));

CREATE POLICY "user_roles_insert_policy"
  ON user_roles FOR INSERT
  TO authenticated
  WITH CHECK ((SELECT public.is_admin()));

CREATE POLICY "user_roles_update_policy"
  ON user_roles FOR UPDATE
  TO authenticated
  USING ((SELECT public.is_admin()));

CREATE POLICY "user_roles_delete_policy"
  ON user_roles FOR DELETE
  TO authenticated
  USING ((SELECT public.is_admin()));

-- --------------------------------------------
-- PERMISS├òES DE EXECU├ç├âO
-- --------------------------------------------

-- RPCs de neg├│cio
GRANT EXECUTE ON FUNCTION log_performance TO authenticated;
GRANT EXECUTE ON FUNCTION create_class_package TO authenticated;
GRANT EXECUTE ON FUNCTION mark_as_paid_idempotent TO authenticated;
GRANT EXECUTE ON FUNCTION confirm_payment_idempotent TO authenticated;
GRANT EXECUTE ON FUNCTION undo_payment_idempotent TO authenticated;

-- Triggers
GRANT EXECUTE ON FUNCTION update_package_on_class_delete TO authenticated;
GRANT EXECUTE ON FUNCTION update_updated_at_column TO authenticated;

-- Fun├º├Áes auxiliares de autentica├º├úo
GRANT EXECUTE ON FUNCTION public.is_admin TO authenticated;
GRANT EXECUTE ON FUNCTION public.is_teacher TO authenticated;
GRANT EXECUTE ON FUNCTION public.is_student TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_student_id TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_teacher_id TO authenticated;

-- Fun├º├Áes de anonimiza├º├úo (LGPD)
GRANT EXECUTE ON FUNCTION anonymize_student TO authenticated;
GRANT EXECUTE ON FUNCTION anonymize_teacher TO authenticated;
GRANT EXECUTE ON FUNCTION hard_delete_anonymized_records TO authenticated;

-- Fun├º├Áes de comprovante de pagamento
GRANT EXECUTE ON FUNCTION submit_payment_proof TO authenticated;
GRANT EXECUTE ON FUNCTION review_payment_proof TO authenticated;

-- --------------------------------------------
-- PERMISS├òES DE ACESSO ├ÇS VIEWS
-- --------------------------------------------

-- Conceder acesso ├ás views para usu├írios autenticados
GRANT SELECT ON students_with_stats TO authenticated;
GRANT SELECT ON students_active TO authenticated;
GRANT SELECT ON students_masked TO authenticated;
GRANT SELECT ON students_active_masked TO authenticated;
GRANT SELECT ON teachers_masked TO authenticated;
GRANT SELECT ON class_logs_with_billing TO authenticated;

-- --------------------------------------------
-- STORAGE: BUCKETS E POL├ìTICAS RLS
-- --------------------------------------------

-- Criar bucket para atividades (privado)
INSERT INTO storage.buckets (id, name, public, file_size_limit, allowed_mime_types)
VALUES (
  'activities',
  'activities',
  false,
  10485760, -- 10MB
  ARRAY['application/pdf', 'image/jpeg', 'image/png', 'image/webp', 'text/plain', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document']
)
ON CONFLICT (id) DO NOTHING;

-- Criar bucket para avatars (p├║blico)
INSERT INTO storage.buckets (id, name, public, file_size_limit, allowed_mime_types)
VALUES (
  'avatars',
  'avatars',
  true,
  2097152, -- 2MB
  ARRAY['image/jpeg', 'image/png', 'image/webp']
)
ON CONFLICT (id) DO NOTHING;

-- Criar bucket para comprovantes de pagamento (privado)
INSERT INTO storage.buckets (id, name, public, file_size_limit, allowed_mime_types)
VALUES (
  'payment-proofs',
  'payment-proofs',
  false,
  5242880, -- 5MB
  ARRAY['image/jpeg', 'image/png', 'image/webp', 'application/pdf']
)
ON CONFLICT (id) DO NOTHING;

-- Pol├¡ticas RLS para bucket activities
CREATE POLICY "activities_upload_policy"
  ON storage.objects FOR INSERT
  TO authenticated
  WITH CHECK (
    bucket_id = 'activities'
    AND (SELECT auth.uid()) IS NOT NULL
  );

CREATE POLICY "activities_read_policy"
  ON storage.objects FOR SELECT
  TO authenticated
  USING (
    bucket_id = 'activities'
    AND (SELECT auth.uid()) IS NOT NULL
  );

CREATE POLICY "activities_update_policy"
  ON storage.objects FOR UPDATE
  TO authenticated
  USING (
    bucket_id = 'activities'
    AND (SELECT auth.uid()) IS NOT NULL
  );

CREATE POLICY "activities_delete_policy"
  ON storage.objects FOR DELETE
  TO authenticated
  USING (
    bucket_id = 'activities'
    AND (SELECT auth.uid()) IS NOT NULL
  );

-- Pol├¡ticas RLS para bucket avatars
CREATE POLICY "avatars_upload_policy"
  ON storage.objects FOR INSERT
  TO authenticated
  WITH CHECK (
    bucket_id = 'avatars'
    AND (SELECT auth.uid()) IS NOT NULL
  );

CREATE POLICY "avatars_read_policy"
  ON storage.objects FOR SELECT
  TO authenticated
  USING (bucket_id = 'avatars');

CREATE POLICY "avatars_update_policy"
  ON storage.objects FOR UPDATE
  TO authenticated
  USING (
    bucket_id = 'avatars'
    AND (SELECT auth.uid()) IS NOT NULL
  );

CREATE POLICY "avatars_delete_policy"
  ON storage.objects FOR DELETE
  TO authenticated
  USING (
    bucket_id = 'avatars'
    AND (SELECT auth.uid()) IS NOT NULL
  );

-- Pol├¡ticas RLS para bucket payment-proofs
CREATE POLICY "payment_proofs_upload_policy"
  ON storage.objects FOR INSERT
  TO authenticated
  WITH CHECK (
    bucket_id = 'payment-proofs'
    AND (SELECT public.is_student())
    AND (storage.foldername(name))[1] = (SELECT public.get_student_id()::text)
  );

CREATE POLICY "payment_proofs_student_read_policy"
  ON storage.objects FOR SELECT
  TO authenticated
  USING (
    bucket_id = 'payment-proofs'
    AND (
      (SELECT public.is_student())
      AND (storage.foldername(name))[1] = (SELECT public.get_student_id()::text)
    )
  );

CREATE POLICY "payment_proofs_teacher_read_policy"
  ON storage.objects FOR SELECT
  TO authenticated
  USING (
    bucket_id = 'payment-proofs'
    AND (
      (SELECT public.is_teacher())
      AND (storage.foldername(name))[1] IN (
        SELECT id::text FROM students WHERE teacher_id = (SELECT public.get_teacher_id())
      )
    )
  );

CREATE POLICY "payment_proofs_admin_read_policy"
  ON storage.objects FOR SELECT
  TO authenticated
  USING (
    bucket_id = 'payment-proofs'
    AND (SELECT public.is_admin())
  );

CREATE POLICY "payment_proofs_delete_policy"
  ON storage.objects FOR DELETE
  TO authenticated
  USING (
    bucket_id = 'payment-proofs'
    AND (SELECT public.is_student())
    AND (storage.foldername(name))[1] = (SELECT public.get_student_id()::text)
  );

-- --------------------------------------------
-- FINALIZA├ç├âO
-- --------------------------------------------

DO $$
DECLARE
  v_policy_count INTEGER;
  v_function_count INTEGER;
BEGIN
  SELECT COUNT(*) INTO v_policy_count FROM pg_policies WHERE schemaname = 'public';
  SELECT COUNT(*) INTO v_function_count FROM pg_proc p
    JOIN pg_namespace n ON p.pronamespace = n.oid
    WHERE n.nspname = 'public'
      AND p.proname IN ('is_admin', 'is_teacher', 'is_student', 'get_student_id', 'get_teacher_id');
  
  RAISE NOTICE '============================================';
  RAISE NOTICE 'RLS E PERMISS├òES CONFIGURADOS COM SUCESSO!';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Pol├¡ticas RLS: %', v_policy_count;
  RAISE NOTICE 'Fun├º├Áes auxiliares: %', v_function_count;
  RAISE NOTICE 'Ô£ô Sem pol├¡ticas duplicadas';
  RAISE NOTICE 'Ô£ô Sem acesso an├┤nimo';
  RAISE NOTICE 'Ô£ô InitPlan otimizado';
  RAISE NOTICE 'Ô£ô search_path definido';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'EDUCORE DATABASE PRONTO PARA USO!';
  RAISE NOTICE '============================================';
END $$;

-- ============================================
-- OTIMIZA├ç├òES FINAIS
-- ============================================

-- Notificar PostgREST para recarregar schema
NOTIFY pgrst, 'reload schema';

-- Atualizar estat├¡sticas para query planner
ANALYZE profiles;
ANALYZE students;
ANALYZE teachers;
ANALYZE class_logs;
ANALYZE financial_records;
ANALYZE financial_record_class_logs;
ANALYZE activities;
ANALYZE audit_logs;
ANALYZE idempotency_keys;
ANALYZE performance_logs;
ANALYZE user_roles;

-- ============================================
-- DOCUMENTA├ç├âO SOBRE ALERTAS DO LINTER
-- ============================================

-- ALERTA: "unused_index" para idx_students_teacher_id, idx_audit_logs_user_id, idx_performance_logs_user_id
-- RESPOSTA: Isso ├® ESPERADO e NORMAL ap├│s cria├º├úo de ├¡ndices.
-- PostgreSQL rastreia uso via pg_stat_user_indexes que ├® resetado na cria├º├úo.
-- Esses ├¡ndices SER├âO usados por:
-- - idx_students_teacher_id: Pol├¡tica RLS "Teachers can view their own students"
-- - idx_audit_logs_user_id: Filtros de auditoria (raramente usado, pode ser removido)
-- - idx_performance_logs_user_id: Filtros de performance (raramente usado, pode ser removido)

-- ALERTA: "rls_enabled_no_policy" para admin_view_backups
-- RESPOSTA: Isso ├® INTENCIONAL, n├úo ├® um bug.
-- RLS habilitado SEM pol├¡ticas = apenas service_role pode acessar.
-- ├ë uma feature de seguran├ºa para proteger dados de backup.
-- Clientes n├úo devem ter acesso a esta tabela.

COMMENT ON TABLE public.audit_logs IS 
'Log de auditoria. RLS: apenas admins. 
NOTA: idx_audit_logs_user_id pode mostrar como n├úo utilizado - isso ├® normal para logs de auditoria.';

COMMENT ON TABLE public.performance_logs IS 
'Logs de performance. RLS: service_role only. 
NOTA: idx_performance_logs_user_id pode mostrar como n├úo utilizado - isso ├® normal para logs de sistema.';


-- ============================================================================
-- SECURITY HARDENING - Corre├º├úo de Permiss├Áes de Roles
-- ============================================================================
-- Remove permiss├Áes perigosas mantendo o sistema funcional
-- ============================================================================

-- 1. REMOVER PRIVIL├ëGIOS PERIGOSOS DO USU├üRIO AN├öNIMO
-- Qualquer pessoa com a URL e anon_key poderia modificar/deletar dados
REVOKE INSERT, UPDATE, DELETE, TRUNCATE, REFERENCES ON ALL TABLES IN SCHEMA public FROM anon;

-- Manter SELECT apenas se houver dados p├║blicos intencionais
GRANT SELECT ON ALL TABLES IN SCHEMA public TO anon;

-- 2. REMOVER TRUNCATE DE USU├üRIOS AUTENTICADOS
-- TRUNCATE ignora logs e apaga tudo de uma vez - apenas admin/postgres deve ter
REVOKE TRUNCATE ON ALL TABLES IN SCHEMA public FROM authenticated;

-- 3. GARANTIR QUE TABELAS E VIEWS CONTINUEM FUNCIONANDO PARA USU├üRIOS AUTENTICADOS
-- (ALL TABLES inclui views automaticamente no PostgreSQL)
GRANT SELECT ON ALL TABLES IN SCHEMA public TO authenticated;

-- 4. MANTER OPERA├ç├òES CRUD PARA USU├üRIOS AUTENTICADOS
GRANT INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO authenticated;

-- 5. GARANTIR PERMISS├òES EM SEQUENCES (para auto-increment)
GRANT USAGE, SELECT ON ALL SEQUENCES IN SCHEMA public TO authenticated;

COMMENT ON SCHEMA public IS 
'Schema p├║blico com RLS habilitado em todas as tabelas. 
Role anon: apenas SELECT (dados p├║blicos).
Role authenticated: SELECT, INSERT, UPDATE, DELETE (controlado por RLS).
TRUNCATE: apenas postgres/service_role.';
