-- ============================================
-- MIGRATION 15: For├ºar troca de senha no primeiro login
-- Adiciona flag must_change_password em profiles
-- Data: 21/02/2026
-- ============================================

-- Adicionar coluna must_change_password
ALTER TABLE profiles
ADD COLUMN IF NOT EXISTS must_change_password BOOLEAN DEFAULT FALSE;

COMMENT ON COLUMN profiles.must_change_password IS 'Indica se o usu├írio deve trocar a senha no pr├│ximo login';

-- Criar ├¡ndice para performance
CREATE INDEX IF NOT EXISTS idx_profiles_must_change_password 
ON profiles(must_change_password) 
WHERE must_change_password = TRUE;

-- Notificar sucesso
DO $$
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'COLUNA must_change_password ADICIONADA!';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Ô£ô Coluna must_change_password criada em profiles';
  RAISE NOTICE 'Ô£ô ├ìndice criado para performance';
  RAISE NOTICE 'Ô£ô Usu├írios novos ser├úo marcados automaticamente';
  RAISE NOTICE '============================================';
END $$;
