-- ============================================
-- MIGRATION 18: Corre├º├úo de Seguran├ºa em Views e Storage
-- Sprint 1 - Task 1.1 e 1.2
-- Data: 23/02/2026
-- ============================================

-- ============================================
-- TASK 1.1: CORRIGIR SECURITY_INVOKER EM VIEWS
-- ============================================

-- PROBLEMA: View activities_active n├úo tem security_invoker
-- RISCO: Pode bypassar RLS da tabela activities

-- Recriar view activities_active com security_invoker
DROP VIEW IF EXISTS activities_active CASCADE;
CREATE VIEW activities_active
WITH (security_invoker = true) AS
SELECT * FROM activities WHERE deleted_at IS NULL;

COMMENT ON VIEW activities_active IS 'Atividades n├úo deletadas (soft delete) - RLS aplicado via security_invoker';

-- Verificar que todas as outras views j├í t├¬m security_invoker
-- (students_masked, teachers_masked, students_with_stats, etc j├í foram corrigidas na migration 12)

-- ============================================
-- TASK 1.2: FUN├ç├âO DE LIMPEZA DE STORAGE ├ôRF├âO
-- ============================================

-- Fun├º├úo para buscar arquivos ├│rf├úos de atividades deletadas h├í mais de 90 dias
CREATE OR REPLACE FUNCTION get_orphaned_activity_files()
RETURNS TABLE (
  activity_id UUID,
  file_url TEXT,
  response_file_url TEXT,
  correction_file_url TEXT,
  deleted_at TIMESTAMPTZ,
  days_since_deletion INTEGER
)
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
BEGIN
  RETURN QUERY
  SELECT 
    a.id AS activity_id,
    a.file_url,
    a.response_file_url,
    a.correction_file_url,
    a.deleted_at,
    EXTRACT(DAY FROM NOW() - a.deleted_at)::INTEGER AS days_since_deletion
  FROM activities a
  WHERE a.deleted_at < NOW() - INTERVAL '90 days'
  AND (
    a.file_url IS NOT NULL OR 
    a.response_file_url IS NOT NULL OR 
    a.correction_file_url IS NOT NULL
  )
  ORDER BY a.deleted_at ASC;
END;
$$;

COMMENT ON FUNCTION get_orphaned_activity_files IS 'Retorna arquivos de atividades deletadas h├í mais de 90 dias para limpeza';

-- Fun├º├úo para marcar arquivos como limpos (ap├│s deletar do storage)
CREATE OR REPLACE FUNCTION mark_activity_files_cleaned(p_activity_id UUID)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
BEGIN
  UPDATE activities
  SET 
    file_url = NULL,
    file_name = NULL,
    file_size = NULL,
    file_type = NULL,
    response_file_url = NULL,
    response_file_name = NULL,
    response_file_size = NULL,
    response_file_type = NULL,
    correction_file_url = NULL,
    correction_file_name = NULL,
    updated_at = NOW()
  WHERE id = p_activity_id;
  
  RAISE NOTICE 'Arquivos da atividade % marcados como limpos', p_activity_id;
END;
$$;

COMMENT ON FUNCTION mark_activity_files_cleaned IS 'Marca arquivos de uma atividade como limpos ap├│s deletar do storage';

-- Fun├º├úo para hard delete de atividades antigas (ap├│s limpar arquivos)
CREATE OR REPLACE FUNCTION hard_delete_old_activities()
RETURNS INTEGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
DECLARE
  v_deleted_count INTEGER;
BEGIN
  -- Deletar atividades deletadas h├í mais de 90 dias SEM arquivos
  DELETE FROM activities
  WHERE deleted_at < NOW() - INTERVAL '90 days'
  AND file_url IS NULL
  AND response_file_url IS NULL
  AND correction_file_url IS NULL;
  
  GET DIAGNOSTICS v_deleted_count = ROW_COUNT;
  
  RAISE NOTICE 'Hard delete: % atividades antigas removidas', v_deleted_count;
  
  -- Registrar na auditoria
  INSERT INTO audit_logs (action_type, action, table_name, metadata)
  VALUES (
    'DELETE',
    'Hard delete de atividades antigas',
    'activities',
    jsonb_build_object('deleted_count', v_deleted_count, 'retention_days', 90)
  );
  
  RETURN v_deleted_count;
END;
$$;

COMMENT ON FUNCTION hard_delete_old_activities IS 'Remove permanentemente atividades deletadas h├í mais de 90 dias (ap├│s limpar arquivos)';

-- ============================================
-- ├ìNDICES PARA PERFORMANCE
-- ============================================

-- ├ìndice para queries de limpeza de storage (sem NOW() no predicate)
CREATE INDEX IF NOT EXISTS idx_activities_deleted_at_cleanup 
ON activities(deleted_at) 
WHERE deleted_at IS NOT NULL;

-- ├ìndice para verificar arquivos ├│rf├úos
CREATE INDEX IF NOT EXISTS idx_activities_files 
ON activities(file_url, response_file_url, correction_file_url) 
WHERE deleted_at IS NOT NULL;

-- ============================================
-- NOTIFICA├ç├âO DE SUCESSO
-- ============================================

DO $$
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'MIGRATION 18 APLICADA COM SUCESSO!';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Ô£à View activities_active corrigida (security_invoker = true)';
  RAISE NOTICE 'Ô£à Fun├º├úo get_orphaned_activity_files() criada';
  RAISE NOTICE 'Ô£à Fun├º├úo mark_activity_files_cleaned() criada';
  RAISE NOTICE 'Ô£à Fun├º├úo hard_delete_old_activities() criada';
  RAISE NOTICE 'Ô£à ├ìndices de performance criados';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'PR├ôXIMO PASSO: Deploy da Edge Function cleanup-storage';
  RAISE NOTICE '============================================';
END;
$$;
