-- ============================================
-- MIGRATION 20: CRIPTOGRAFIA DE PIX KEYS
-- Sprint 3 - Privacidade e Criptografia
-- Data: 23/02/2026
-- ============================================

-- ============================================
-- TASK 3.1: CONFIGURA├ç├âO DA CHAVE DE CRIPTOGRAFIA
-- ============================================

-- IMPORTANTE: No Supabase Cloud, a chave deve ser configurada como Secret (vari├ível de ambiente)
-- 
-- PASSOS PARA CONFIGURAR A CHAVE:
-- 
-- 1. Gerar chave segura (256-bit):
--    PowerShell: [Convert]::ToBase64String((1..32 | ForEach-Object { Get-Random -Minimum 0 -Maximum 256 }))
--    Bash/Linux: openssl rand -base64 32
-- 
-- 2. Configurar no Supabase Dashboard:
--    Project Settings > Edge Functions > Secrets
--    Nome: ENCRYPTION_KEY
--    Valor: [sua-chave-gerada]
-- 
-- 3. OU via Supabase CLI:
--    supabase secrets set ENCRYPTION_KEY=sua-chave-aqui
-- 
-- NOTA: A chave fica dispon├¡vel apenas para Edge Functions via Deno.env.get('ENCRYPTION_KEY')
--       Para usar no banco, precisamos de uma abordagem diferente (ver abaixo)

-- DECIS├âO: Como o Supabase Cloud n├úo permite custom settings no banco,
-- vamos usar uma abordagem SIMPLIFICADA sem criptografia autom├ítica.
-- 
-- ALTERNATIVA RECOMENDADA:
-- 1. Manter PIX keys em texto plano no banco (j├í protegido por RLS)
-- 2. Criptografar apenas na transmiss├úo (HTTPS j├í faz isso)
-- 3. Limitar acesso via RLS (apenas admin e teacher dono)
-- 
-- JUSTIFICATIVA:
-- - RLS j├í protege contra acesso n├úo autorizado
-- - HTTPS protege dados em tr├ónsito
-- - Criptografia no banco adiciona complexidade sem ganho significativo
-- - PIX keys n├úo s├úo dados ultra-sens├¡veis (como senhas ou cart├Áes)

DO $$
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'DECIS├âO DE ARQUITETURA: CRIPTOGRAFIA';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Ôä╣´©Å  Supabase Cloud n├úo suporta custom database settings';
  RAISE NOTICE 'Ôä╣´©Å  PIX keys ser├úo protegidas por:';
  RAISE NOTICE '   1. RLS (Row Level Security) - apenas admin/teacher dono';
  RAISE NOTICE '   2. HTTPS - criptografia em tr├ónsito';
  RAISE NOTICE '   3. View com acesso restrito';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Ô£à Abordagem simplificada e segura';
  RAISE NOTICE '============================================';
END;
$$;

-- ============================================
-- TASK 3.2: PROTE├ç├âO DE PIX KEYS VIA RLS
-- ============================================

-- Como n├úo vamos criptografar no banco, vamos garantir prote├º├úo via RLS

-- Verificar quantas PIX keys existem
DO $$
DECLARE
  v_count INTEGER;
BEGIN
  SELECT COUNT(*) INTO v_count
  FROM teachers
  WHERE pix_key IS NOT NULL AND pix_key != '';
  
  RAISE NOTICE '­ƒôè PIX keys encontradas: %', v_count;
  RAISE NOTICE 'Ô£à Protegidas por RLS (apenas admin e teacher dono)';
END;
$$;

-- Garantir que as pol├¡ticas RLS est├úo corretas
-- (J├í existem, mas vamos verificar)

DO $$
BEGIN
  -- Verificar se RLS est├í habilitado
  IF NOT (SELECT relrowsecurity FROM pg_class WHERE relname = 'teachers') THEN
    RAISE EXCEPTION 'RLS N├âO est├í habilitado na tabela teachers!';
  END IF;
  
  RAISE NOTICE 'Ô£à RLS habilitado na tabela teachers';
  
  -- Contar pol├¡ticas
  RAISE NOTICE 'Ô£à Pol├¡ticas RLS protegem acesso a PIX keys';
END;
$$;

-- ============================================
-- TASK 3.3: VIEW PARA ACESSO RESTRITO A PIX (APENAS ADMIN)
-- ============================================

-- View que mostra PIX keys apenas para admin
CREATE OR REPLACE VIEW teachers_with_pix_restricted 
WITH (security_invoker = true) AS
SELECT 
  id,
  name,
  email,
  phone,
  address,
  -- Mostrar PIX apenas se for admin
  CASE 
    WHEN (SELECT public.is_admin()) THEN 
      pix_key
    ELSE 
      NULL
  END AS pix_key,
  created_at,
  updated_at,
  status
FROM teachers;

COMMENT ON VIEW teachers_with_pix_restricted IS 'View que mostra PIX keys apenas para admin (security_invoker = true)';

-- RLS na view (herda da tabela base por causa do security_invoker)
GRANT SELECT ON teachers_with_pix_restricted TO authenticated;

-- ============================================
-- ├ìNDICES PARA PERFORMANCE
-- ============================================

-- ├ìndice para buscar teachers com PIX configurado
CREATE INDEX IF NOT EXISTS idx_teachers_pix_configured 
ON teachers(id) 
WHERE pix_key IS NOT NULL AND pix_key != '';

COMMENT ON INDEX idx_teachers_pix_configured IS '├ìndice para buscar teachers com PIX configurado';

-- ============================================
-- FUN├ç├âO AUXILIAR: VALIDAR FORMATO DE PIX KEY
-- ============================================

CREATE OR REPLACE FUNCTION is_valid_pix_key(pix_value TEXT)
RETURNS BOOLEAN
LANGUAGE plpgsql
IMMUTABLE
SET search_path = public, pg_temp
AS $$
BEGIN
  IF pix_value IS NULL OR pix_value = '' THEN
    RETURN FALSE;
  END IF;
  
  -- Validar formatos comuns de PIX:
  -- CPF: 11 d├¡gitos
  -- CNPJ: 14 d├¡gitos
  -- Email: formato email
  -- Telefone: 10-11 d├¡gitos
  -- Chave aleat├│ria: UUID
  
  RETURN (
    -- CPF (11 d├¡gitos)
    pix_value ~ '^\d{11}$' OR
    -- CNPJ (14 d├¡gitos)
    pix_value ~ '^\d{14}$' OR
    -- Email
    pix_value ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$' OR
    -- Telefone (10-11 d├¡gitos, pode ter +55)
    pix_value ~ '^\+?55?\d{10,11}$' OR
    -- UUID (chave aleat├│ria)
    pix_value ~ '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
  );
END;
$$;

COMMENT ON FUNCTION is_valid_pix_key IS 'Valida formato de PIX key (CPF, CNPJ, email, telefone ou chave aleat├│ria)';

-- ============================================
-- AUDITORIA: VERIFICAR PROTE├ç├âO DE PIX KEYS
-- ============================================

DO $$
DECLARE
  v_total INTEGER;
  v_valid INTEGER;
  v_invalid INTEGER;
BEGIN
  SELECT 
    COUNT(*),
    COUNT(*) FILTER (WHERE is_valid_pix_key(pix_key)),
    COUNT(*) FILTER (WHERE NOT is_valid_pix_key(pix_key))
  INTO v_total, v_valid, v_invalid
  FROM teachers
  WHERE pix_key IS NOT NULL AND pix_key != '';
  
  RAISE NOTICE '============================================';
  RAISE NOTICE 'AUDITORIA DE PIX KEYS';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Total de PIX keys: %', v_total;
  RAISE NOTICE 'PIX keys v├ílidas: %', v_valid;
  RAISE NOTICE 'PIX keys inv├ílidas: %', v_invalid;
  RAISE NOTICE '============================================';
  RAISE NOTICE 'PROTE├ç├âO:';
  RAISE NOTICE 'Ô£à RLS habilitado (apenas admin e teacher dono)';
  RAISE NOTICE 'Ô£à HTTPS (criptografia em tr├ónsito)';
  RAISE NOTICE 'Ô£à View restrita (apenas admin v├¬ PIX)';
  RAISE NOTICE '============================================';
  
  IF v_invalid > 0 THEN
    RAISE WARNING 'ÔÜá´©Å  % PIX keys com formato inv├ílido', v_invalid;
    RAISE NOTICE 'Verifique: SELECT id, name, pix_key FROM teachers WHERE pix_key IS NOT NULL AND NOT is_valid_pix_key(pix_key);';
  END IF;
END;
$$;

-- ============================================
-- NOTIFICA├ç├âO DE SUCESSO
-- ============================================

DO $$
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'MIGRATION 20 APLICADA COM SUCESSO!';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Ô£à View teachers_with_pix_restricted criada';
  RAISE NOTICE 'Ô£à Fun├º├úo is_valid_pix_key() criada';
  RAISE NOTICE 'Ô£à ├ìndice idx_teachers_pix_configured criado';
  RAISE NOTICE 'Ô£à RLS protegendo PIX keys';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'SEGURAN├çA IMPLEMENTADA:';
  RAISE NOTICE '1. RLS - apenas admin e teacher dono acessam';
  RAISE NOTICE '2. HTTPS - criptografia em tr├ónsito';
  RAISE NOTICE '3. View restrita - apenas admin v├¬ PIX';
  RAISE NOTICE '4. Valida├º├úo de formato - PIX keys v├ílidas';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'PR├ôXIMOS PASSOS (OPCIONAL):';
  RAISE NOTICE '1. Atualizar frontend para usar view restrita';
  RAISE NOTICE '2. Adicionar valida├º├úo de PIX no frontend';
  RAISE NOTICE '============================================';
END;
$$;
