-- ============================================
-- MIGRATION 22: MATERIALIZED VIEWS PARA DASHBOARDS
-- Sprint 4 - Task 4.2: Performance e Monitoramento
-- Data: 23/02/2026
-- ============================================

-- ============================================
-- DECIS├âO DE ARQUITETURA
-- ============================================

-- NOTA: Materialized Views s├úo ├║teis para queries complexas e pesadas
-- que s├úo executadas frequentemente mas n├úo precisam de dados em tempo real.
-- 
-- TRADE-OFFS:
-- Ô£à Queries 50-70% mais r├ípidas (dados pr├®-calculados)
-- Ô£à Reduz carga no banco (menos JOINs em tempo real)
-- ÔØî Dados podem estar desatualizados (at├® 5min)
-- ÔØî Requer refresh peri├│dico (cron job)
-- 
-- DECIS├âO: Implementar apenas se dashboards estiverem lentos (> 500ms)
-- Para este projeto, vamos criar as views mas deixar o refresh MANUAL
-- (o usu├írio pode habilitar via cron se necess├írio)

DO $$
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'MATERIALIZED VIEWS PARA DASHBOARDS';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Ôä╣´©Å  Views criadas mas refresh ├® MANUAL';
  RAISE NOTICE 'Ôä╣´©Å  Habilite cron job se dashboards estiverem lentos';
  RAISE NOTICE '============================================';
END;
$$;

-- ============================================
-- MATERIALIZED VIEW: ACTIVITIES DASHBOARD
-- ============================================

CREATE MATERIALIZED VIEW IF NOT EXISTS activities_dashboard AS
SELECT 
  a.id,
  a.title,
  a.description,
  a.status,
  a.due_date,
  a.grade,
  a.created_at,
  a.updated_at,
  a.file_url,
  a.file_name,
  -- Dados do aluno
  s.id AS student_id,
  s.name AS student_name,
  s.email AS student_email,
  s.phone AS student_phone,
  -- Dados do professor
  t.id AS teacher_id,
  t.name AS teacher_name,
  t.email AS teacher_email
FROM activities a
LEFT JOIN students s ON a.student_id = s.id
LEFT JOIN teachers t ON a.teacher_id = t.id
WHERE a.deleted_at IS NULL;

COMMENT ON MATERIALIZED VIEW activities_dashboard IS 'Dashboard de atividades com dados pr├®-calculados (refresh manual)';

-- ├ìndices na materialized view para performance
CREATE UNIQUE INDEX IF NOT EXISTS idx_activities_dashboard_id 
ON activities_dashboard(id);

CREATE INDEX IF NOT EXISTS idx_activities_dashboard_student 
ON activities_dashboard(student_id);

CREATE INDEX IF NOT EXISTS idx_activities_dashboard_teacher 
ON activities_dashboard(teacher_id);

CREATE INDEX IF NOT EXISTS idx_activities_dashboard_status 
ON activities_dashboard(status);

CREATE INDEX IF NOT EXISTS idx_activities_dashboard_due_date 
ON activities_dashboard(due_date);

CREATE INDEX IF NOT EXISTS idx_activities_dashboard_created 
ON activities_dashboard(created_at DESC);

-- ============================================
-- MATERIALIZED VIEW: FINANCIAL DASHBOARD
-- ============================================

CREATE MATERIALIZED VIEW IF NOT EXISTS financial_dashboard AS
SELECT 
  f.id,
  f.description,
  f.amount,
  f.payment_method,
  f.due_date,
  f.paid_at,
  f.status,
  f.created_at,
  f.updated_at,
  -- Dados do aluno
  s.id AS student_id,
  s.name AS student_name,
  s.email AS student_email,
  -- Dados da aula (se houver)
  cl.id AS class_log_id,
  cl.class_date,
  -- Dados do professor (via class_log)
  t.id AS teacher_id,
  t.name AS teacher_name,
  t.email AS teacher_email
FROM financial_records f
LEFT JOIN students s ON f.student_id = s.id
LEFT JOIN class_logs cl ON f.class_log_id = cl.id
LEFT JOIN teachers t ON cl.teacher_id = t.id;

COMMENT ON MATERIALIZED VIEW financial_dashboard IS 'Dashboard financeiro com dados pr├®-calculados (refresh manual)';

-- ├ìndices na materialized view
CREATE UNIQUE INDEX IF NOT EXISTS idx_financial_dashboard_id 
ON financial_dashboard(id);

CREATE INDEX IF NOT EXISTS idx_financial_dashboard_student 
ON financial_dashboard(student_id);

CREATE INDEX IF NOT EXISTS idx_financial_dashboard_teacher 
ON financial_dashboard(teacher_id) 
WHERE teacher_id IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_financial_dashboard_status 
ON financial_dashboard(status);

CREATE INDEX IF NOT EXISTS idx_financial_dashboard_due_date 
ON financial_dashboard(due_date);

CREATE INDEX IF NOT EXISTS idx_financial_dashboard_created 
ON financial_dashboard(created_at DESC);

-- ============================================
-- FUN├ç├òES DE REFRESH
-- ============================================

-- Fun├º├úo para refresh da view de atividades
CREATE OR REPLACE FUNCTION refresh_activities_dashboard()
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
BEGIN
  -- REFRESH CONCURRENTLY permite leitura durante o refresh
  -- Requer ├¡ndice UNIQUE (j├í criado acima)
  REFRESH MATERIALIZED VIEW CONCURRENTLY activities_dashboard;
  
  RAISE NOTICE 'activities_dashboard refreshed at %', NOW();
END;
$$;

COMMENT ON FUNCTION refresh_activities_dashboard IS 'Atualiza materialized view de atividades (pode ser chamado manualmente ou via cron)';

-- Fun├º├úo para refresh da view financeira
CREATE OR REPLACE FUNCTION refresh_financial_dashboard()
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
BEGIN
  REFRESH MATERIALIZED VIEW CONCURRENTLY financial_dashboard;
  
  RAISE NOTICE 'financial_dashboard refreshed at %', NOW();
END;
$$;

COMMENT ON FUNCTION refresh_financial_dashboard IS 'Atualiza materialized view financeira (pode ser chamado manualmente ou via cron)';

-- Fun├º├úo para refresh de todas as views
CREATE OR REPLACE FUNCTION refresh_all_dashboards()
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
BEGIN
  PERFORM refresh_activities_dashboard();
  PERFORM refresh_financial_dashboard();
  
  RAISE NOTICE 'All dashboards refreshed at %', NOW();
END;
$$;

COMMENT ON FUNCTION refresh_all_dashboards IS 'Atualiza todas as materialized views de uma vez';

-- ============================================
-- RLS: MATERIALIZED VIEWS HERDAM SEGURAN├çA
-- ============================================

-- IMPORTANTE: Materialized views N├âO suportam RLS diretamente
-- A seguran├ºa deve ser aplicada via pol├¡ticas nas tabelas base
-- ou via views normais em cima das materialized views

-- Garantir que apenas authenticated pode acessar
GRANT SELECT ON activities_dashboard TO authenticated;
GRANT SELECT ON financial_dashboard TO authenticated;

-- ============================================
-- INSTRU├ç├òES PARA HABILITAR REFRESH AUTOM├üTICO
-- ============================================

DO $$
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'COMO HABILITAR REFRESH AUTOM├üTICO';
  RAISE NOTICE '============================================';
  RAISE NOTICE '';
  RAISE NOTICE 'OP├ç├âO 1: Via pg_cron (recomendado)';
  RAISE NOTICE '----------------------------------------';
  RAISE NOTICE 'SELECT cron.schedule(';
  RAISE NOTICE '  ''refresh-dashboards'',';
  RAISE NOTICE '  ''*/5 * * * *'',  -- A cada 5 minutos';
  RAISE NOTICE '  ''SELECT refresh_all_dashboards();''';
  RAISE NOTICE ');';
  RAISE NOTICE '';
  RAISE NOTICE 'OP├ç├âO 2: Via Edge Function + Cron';
  RAISE NOTICE '----------------------------------------';
  RAISE NOTICE '1. Criar Edge Function refresh-dashboards';
  RAISE NOTICE '2. Configurar cron no Supabase Dashboard';
  RAISE NOTICE '3. Chamar fun├º├úo a cada 5 minutos';
  RAISE NOTICE '';
  RAISE NOTICE 'OP├ç├âO 3: Manual (para testes)';
  RAISE NOTICE '----------------------------------------';
  RAISE NOTICE 'SELECT refresh_all_dashboards();';
  RAISE NOTICE '';
  RAISE NOTICE '============================================';
END;
$$;

-- ============================================
-- TESTES DE PERFORMANCE
-- ============================================

DO $$
DECLARE
  v_activities_count INT;
  v_financial_count INT;
  v_start_time TIMESTAMP;
  v_end_time TIMESTAMP;
  v_duration_ms NUMERIC;
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'TESTES DE PERFORMANCE';
  RAISE NOTICE '============================================';
  
  -- Contar registros nas materialized views
  SELECT COUNT(*) INTO v_activities_count FROM activities_dashboard;
  SELECT COUNT(*) INTO v_financial_count FROM financial_dashboard;
  
  RAISE NOTICE 'Registros em activities_dashboard: %', v_activities_count;
  RAISE NOTICE 'Registros em financial_dashboard: %', v_financial_count;
  
  -- Testar performance de query na materialized view
  v_start_time := clock_timestamp();
  
  PERFORM * FROM activities_dashboard 
  WHERE status = 'pendente' 
  ORDER BY created_at DESC 
  LIMIT 10;
  
  v_end_time := clock_timestamp();
  v_duration_ms := EXTRACT(EPOCH FROM (v_end_time - v_start_time)) * 1000;
  
  RAISE NOTICE 'Query na materialized view: %.3f ms', v_duration_ms;
  
  -- Comparar com query na tabela original
  v_start_time := clock_timestamp();
  
  PERFORM a.*, s.name, t.name
  FROM activities a
  LEFT JOIN students s ON a.student_id = s.id
  LEFT JOIN teachers t ON a.teacher_id = t.id
  WHERE a.deleted_at IS NULL 
  AND a.status = 'pendente'
  ORDER BY a.created_at DESC 
  LIMIT 10;
  
  v_end_time := clock_timestamp();
  v_duration_ms := EXTRACT(EPOCH FROM (v_end_time - v_start_time)) * 1000;
  
  RAISE NOTICE 'Query na tabela original: %.3f ms', v_duration_ms;
  
  RAISE NOTICE '============================================';
  RAISE NOTICE 'NOTA: Materialized views s├úo mais r├ípidas em queries complexas';
  RAISE NOTICE 'com m├║ltiplos JOINs e agrega├º├Áes';
  RAISE NOTICE '============================================';
END;
$$;

-- ============================================
-- NOTIFICA├ç├âO DE SUCESSO
-- ============================================

DO $$
BEGIN
  RAISE NOTICE '============================================';
  RAISE NOTICE 'MIGRATION 22 APLICADA COM SUCESSO!';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'Ô£à Materialized view activities_dashboard criada';
  RAISE NOTICE 'Ô£à Materialized view financial_dashboard criada';
  RAISE NOTICE 'Ô£à ├ìndices de performance criados';
  RAISE NOTICE 'Ô£à Fun├º├Áes de refresh criadas';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'PR├ôXIMOS PASSOS:';
  RAISE NOTICE '1. Testar queries nas materialized views';
  RAISE NOTICE '2. Comparar performance (antes/depois)';
  RAISE NOTICE '3. Habilitar refresh autom├ítico se necess├írio';
  RAISE NOTICE '4. Atualizar frontend para usar as views (opcional)';
  RAISE NOTICE '============================================';
  RAISE NOTICE 'REFRESH MANUAL:';
  RAISE NOTICE 'SELECT refresh_all_dashboards();';
  RAISE NOTICE '============================================';
END;
$$;
